body{
    font-family:"Open Sans",sans-serif;
}
h1,h2,h3{
    font-family:"Lobster",cursive;
}
h2{
    color:rgb(58, 58, 209);
}
header h2{
    color:rgb(131, 131, 241);
}
footer{
    background-image:linear-gradient(rgb(196, 196, 196),white);

    padding:20px 0;
}
.jumbotron{
    padding:20px;
    background-image: linear-gradient(to right ,blue,blue,rgb(72, 7, 110));
    color:white;
}
.row-content{
    padding: 50px 0;
    border-bottom:1px ridge;
    min-height: 200px;
}